.gradle
build

e2e
nginx

node_modules
.dockerignore
Dockerfile*
.git
.gitattributes
.gitignore

templates
!templates/webpack
!templates/nginx.conf

# synchronize-marker:dist-scripts:begin
/dist
!/dist/entrypoint.sh
!/dist/healthcheck.js
!/dist/robots.txt
!/dist/server.crt
!/dist/server.key
# synchronize-marker:dist-scripts:end
